@import url("owl.carousel.min.css");
@import url("owl.theme.default.min.css");
/* General Fonts */
@font-face {
  font-family: "Calibre Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Calibre Regular"),
    url("../fonts/calibre-cufonfonts-webfont/CalibreRegular.woff")
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Calibre Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Calibre Semibold"),
    url("../fonts/calibre-cufonfonts-webfont/CalibreSemibold.woff")
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Regular"),
    url("../fonts/sf-mono-cufonfonts-webfont/SFMonoRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Mono Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Light"),
    url("../fonts/sf-mono-cufonfonts-webfont/SFMonoLight.woff") format("woff");
  font-display: swap;
}

:root {
  /* color */
  --color-primary: #ff0077;
  --color-second: #172051;
  --color-third: rgba(255, 0, 119, 0.199);
  --color-default: #000000;
  --color-default-white: #ffffff;

  /* font size */
  --font-size-1: 3.833rem;
  --font-size-2: 3.056rem;
  --font-size-3: 2.444rem;
  --font-size-4: 1.944rem;
  --font-size-5: 1.556rem;
  --font-size-6: 1.278rem;
}
/**************************************
 * 01. Generale Style
 *************************************/

#logo {
  padding: 7px 10px;
  width: 20px;
  text-align: center;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
body {
  background: #172051;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text-white h2 {
  color: #ffffff !important;
}

.text-white p {
  color: #ffffff !important;
}

.skill-item h6 {
  color: #fff !important;
}

.skill-item .skill-progress-bar span {
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.3;
}

a {
  color: var(--color-primary);
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
span,
a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

a:hover {
  color: var(--color-primary);
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

a:hover,
a:focus {
  color: var(--color-primary);
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  font-family: "Rubik", sans-serif;
}

.z-index {
  z-index: 9;
}

.position-relative {
  position: relative !important;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
  border-bottom: 1px solid var(--color-primary);
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

button:focus {
  outline: 0 none;
  box-shadow: none;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button {
  display: inline-block;
  padding: 8px 30px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 500;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background: #ffffff;
  transition: all 500ms ease;
  cursor: pointer;
  color: #007bff;
  margin-top: 0px;
}

.button:hover {
  color: #fff;
  background: transparent;
  border: 2px solid var(--color-primary);
}

.after-btn {
  position: relative;
  padding: 5px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff !important;
  font-weight: 400;
  background: var(--color-primary);
  border-radius: 30px;
}
.after-btn:hover {
  background: #b33984;
}
.m-t-20 {
  margin-top: 20px;
}
dl,
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-headline {
  font-family: "Calibre Semibold", Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
  font-weight: 600;
}

.section-number {
  font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--color-primary);
}

.section-padding {
  padding: 100px 0;
}

.section-small-padding {
  padding: 30px 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.mr-top-50 {
  margin-top: 50px;
}

.back-to-top {
  position: fixed;
  display: none;
  color: #fff;
  width: 40px;
  height: 42px;
  line-height: 45px;
  border-radius: 0;
  right: 25px;
  bottom: 20px;
  text-align: center;
  background: var(--color-primary);
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  color: #fff;
  font-size: 20px;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

/**************************************
 * 02.Preloader Style
 *************************************/

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 999999;
}
.loader .loader-outter {
  position: absolute;
  border: 2px solid #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  -webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41)
    infinite;
  animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.loader .loader-inner {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41)
    infinite;
  animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/**************************************
   * 03.Navber Style
   *************************************/
.navbar-b {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  font-family: "SF Mono Regular", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgb(9, 21, 49) 0px 10px 30px -10px;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(24, 35, 60, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #333;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: var(--color-primary);
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all 0.5s ease-in-out;
  background-color: var(--color-second);
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgb(9, 21, 49) 0px 10px 30px -10px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #ffff;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: var(--color-primary);
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: var(--color-primary);
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #333;
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #fff;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: 0.7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: var(--color-primary);
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: var(--color-primary);
}

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.nav-btn {
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  padding: 10px;
  width: 5rem;
  text-align: center;
}

.nav-btn:hover {
  color: var(--color-primary);
}

/**************************************
   * 04.hero Section Style
   *************************************/
.hero-area {
  height: 100vh;
  position: relative;
  color: #fff;
  text-align: center;
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
  padding-bottom: 0px;
}

.hero-area::after {
  position: absolute;
  top: 0;
  content: "";
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  background: rgb(3 5 16);
}

.hero-equal-height {
  position: relative;
  min-height: 100vh;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hero-content h3 {
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: "SF Mono Light", Verdana, Geneva, Tahoma, sans-serif;
}

.hero-content h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-top: -10px;
}

.hero-content h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-content .buttons {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: rgba(23, 32, 81, 0.7);
}
.hero-content .buttons:hover {
  background-color: rgba(255, 0, 119, 0.199);
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  font-family: "SF Mono Regular", Verdana, Geneva, Tahoma, sans-serif;
}

.cd-headline.clip .blc {
  color: var(--color-primary);
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0px;
  padding-left: 10px;
}

.cd-headline.clip .cd-words-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}
.hero-content .hero-btn-1 {
  margin-right: 15px;
}

.hero-area .arrow {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  text-align: center;
  font-size: 13px;
  z-index: 8;
}
.hero-area .arrow i {
  position: relative;
  display: inline-block;
  width: 30px;
  color: #fff;
  height: 30px;
  line-height: 30px;
}
.hero-area .arrow i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.hero-area .arrow i:hover:after {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.my-img {
  z-index: 900;
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0px 112px 20px 30px;
  /*border: 5px solid #25222c;*/
  margin-bottom: 20px;
  position: absolute;
  top: -193px;
}

.my-img .img-fluid {
  opacity: 0.9;
}

.new-button {
  background: #007bff;
  border-radius: 30px;
  padding-left: 10px !important;
}

/**************************************
 * 05. About Section Style
 *************************************/

#about-section {
  padding: 100px 10px 150px 10px;
  margin: 0 auto 12vh auto;
  max-width: 1000px;
}

#about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#bio-para {
  width: 46%;
  padding-right: 20px;
}

#bio-para p {
  padding: 0 0 20px 0;
}

.headshot-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  position: relative;
  cursor: pointer;
}

.headshot {
  width: 100%;
  border-radius: 1rem;
}

.headshot-container {
  margin: auto;
}
.headshot-container a {
  border: 5px solid transparent;
  float: left;
  position: relative;
  cursor: pointer;
}
.headshot-container img {
  max-width: 100%;
  border-radius: 5px;
}
.headshot-container a:before {
  transition: all 0.6s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e3008c;
  transform: scale(0);
  border-radius: 5px;
}
.headshot-container a:hover:before {
  opacity: 0.2;
  transform: scale(1);
}
.headshot-container a:after {
  transition: all 0.7s ease 0.2s;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #90005b;
  opacity: 0;
  transform: scale(0);
}
.headshot-container a:hover:after {
  opacity: 0.35;
  transform: scale(1);
  border-radius: 5px;
}

.headshot-container.headshot-anm:hover {
  position: relative;
  margin-top: -300px;
  margin-left: 0px;
}

.tech-skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
  padding: 0px;
  list-style: none;
  font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
}

.tech-skills-list li {
  margin-bottom: 10px;
}

.tech-skills-list li::before {
  content: "⦿";
  color: var(--color-primary);
  position: relative;
  padding: 0 10px 0 0;
  font-size: 13px;
}
.color-text {
  font-size: 25px;
  color: var(--color-primary);
  font-family: "SF Mono Light", Arial, Helvetica, sans-serif;
}

/**************************************
 * 06. Education Section
 *************************************/

#education-section {
  padding: 150px 10px;
  margin: 0 auto 16vh auto;
  max-width: 1000px;
}

.at-symbol {
  color: var(--color-primary);
}

.eduDateRange {
  color: #bfb099;
}

#education-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0px;
}

#eduList {
  width: 100%;
}

#eduList :hover {
  background: rgba(255, 0, 119, 0.199);
  color: #f5f5f5;
}

#edu-bulletpoints {
  width: 70%;
}

#edu-bulletpoints ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

#edu-bulletpoints ul li::before {
  content: "⦿";
  position: absolute;
  left: 0px;
  color: var(--color-primary);
}

.edu-button {
  font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
  font-size: 13px;
  border: none;
  padding: 15px 20px;
  color: #939393;
  border-radius: 0;
  cursor: pointer;
}

.edu-button-selected {
  color: var(--color-primary);
  border-left: 1px solid var(--color-primary);
  border-radius: 0;
}

.edu-button-selected :hover {
  background: none;
}

#eduDetails {
  padding-top: 15px;
  width: 70%;
}

.eduTitle {
  font-size: 28px;
  padding-bottom: 10px;
  font-weight: 600;
}

.eduDateRange {
  font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding-bottom: 40px;
}

#eduDetails li {
  font-size: 19px;
  padding-bottom: 10px;
}

/**************************************
 * 07. Project Section
 *************************************/

#projects-section {
  padding: 150px 10px;
  margin: 0 auto;
  max-width: 1000px;
}

.featured-project-card {
  display: grid;
  -moz-box-align: center;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 100px;
  align-items: center;
}

.featured-project-card a {
  position: relative;
  grid-column: 1 / 8;
  grid-row: 1 / 2;
  z-index: 10;
}

.featured-project-card a img {
  border-radius: 2px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  vertical-align: bottom;
  width: 100%;
  max-width: 100%;
}

.featured-project-details {
  position: relative;
  grid-column: 8 / 12;
  grid-row: 1 / -1;
  text-align: right;
  background: #28385e;
  padding: 20px 19px;
  border-radius: 0 2px 2px 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.align-left {
  text-align: left;
}

.align-left div {
  margin-left: 0;
}

.align-left ul {
  justify-content: start;
}

.align-left ul li {
  padding-left: 0;
  padding-right: 20px;
}

.feature-text {
  color: var(--color-primary);
  font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}

.project-title {
  font-family: "Calibre Semibold", Arial, Helvetica, sans-serif;
  font-size: 32px;
  padding-bottom: 10px;
  color: #f5f5f5;
}

.project-title a {
  color: #f5f5f5;
}

.project-title a:hover {
  color: var(--color-primary);
}

.project-title-small {
  font-size: 27px;
}

.badge-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: 10px;
}

.badge-container a img {
  border-radius: unset;
  box-shadow: unset;
}

#chrome-browser-badge {
  width: 150px;
  margin-right: 15px;
}

#firefox-browser-badge {
  width: 123px;
}

.project-description-small {
  font-size: 19px;
}
.technology-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0px;
  margin: 25px 0px 10px;
  list-style: outside none none;
  font-size: 12px;
  font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  color: #bfb099;
}

.tech-item {
  padding-left: 20px;
  padding-bottom: 7px;
}

.featured-project-screenshot {
  width: 40%;
  max-width: 1000px;
  position: relative;
}

.project-screenshot {
  width: 180%;
  border-radius: 1px;
}

.project-link-icons {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/**************************************
 * 08. Contact Section
 *************************************/

#contact-section {
  padding: 180px 10px;
  margin: 14vh auto 14vh auto;
  max-width: 600px;
  text-align: center;
}

.contact-section-name {
  font-size: 16px;
  font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
  color: var(--color-primary);
}

.contact-headline {
  font-family: "Calibre Semibold", Arial, Helvetica, sans-serif;
  font-size: 68px;
  font-weight: bold;
  padding-bottom: 30px;
}

.contact-text {
  padding-bottom: 60px;
}
.buttons {
  width: 11rem;
  height: 4rem;
  background-color: var(--color-second);
  border-radius: 10px;
  font-size: 1rem;
}

.button-contact {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.button-contact:hover {
  background-color: rgba(255, 0, 119, 0.199);
}

/**************************************
 * 09. Footer Section Style
 *************************************/
.footer-area {
  padding: 50px 0;
}

.developer-name a {
  color: var(--color-primary);
}

.developer-name a:hover {
  color: rgba(255, 0, 119, 0.665);
}
footer {
  background: #0f1626;
  text-align: center;
  padding: 32px 0;
}

#social-icons-footer {
  display: none;
}

/**************************************
 * 10. Responsive Layout
 *************************************/

/* Tablet Breakpoint */

@media screen and (max-width: 1300px) {
  #social-icons-fixed-bar-container {
    display: none;
  }

  #email-fixed-bar-container {
    display: none;
  }

  #hero-section {
    padding-left: 30px;
    padding-right: 30px;
  }

  #about-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  #education-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  #projects-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  #contact-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
  }

  .featured-project {
    flex-direction: column-reverse;
  }

  .flex-column {
    flex-direction: column;
  }

  .featured-project-details {
    width: 100%;
  }

  .project-description {
    width: 100%;
    padding: 20px 0 20px 0px;
  }

  .project-description p {
    margin-right: 15px;
    margin-left: 10px;
  }

  .technology-list {
    display: inline-flex;
    margin: 0;
    justify-content: start;
  }

  .tech-item {
    padding: 0 20px 7px 0;
  }

  .project-screenshot {
    width: 250%;
  }

  #eduList :hover {
    background: inherit;
  }
}

@media screen and (max-width: 1000px) {
  .featured-project-card {
    grid-template-rows: repeat(2);
  }

  .featured-project-card a {
    position: relative;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .featured-project-details {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
    width: unset;
    text-align: left;
    border-radius: 0 0 2px 2px;
    padding-bottom: 15px;
  }

  .project-title {
    padding-bottom: 0px;
  }

  .project-description p {
    margin-right: 0px;
    margin-left: 0px;
  }

  .badge-container {
    justify-content: start;
    flex-direction: column;
  }

  .badge-container a img {
    border-radius: unset;
    box-shadow: unset;
  }

  #chrome-browser-badge {
    margin-bottom: 10px;
    width: 200px;
  }

  #firefox-browser-badge {
    width: 200px;
  }

  .technology-list {
    display: flex;
  }
}

/* Mobile Breakpoint */

@media screen and (max-width: 830px) {
  body {
    font-size: 18px;
  }

  nav {
    padding: 10px 0;
  }

  .hero-content h3 {
    font-size: 10px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content h4 {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  .section-headline {
    font-family: "Calibre Regular", Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 40px;
    font-weight: bold;
  }

  .buttons {
    width: 8rem;
    height: 3rem;
    background-color: var(--color-second);
    border-radius: 10px;
    font-size: 0.8rem;
  }

  #about-content {
    display: block;
  }

  #bio-para {
    width: 80vw;
  }

  .tech-skills-list {
    font-size: 11px;
  }

  #headshot-container {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
    position: relative;
  }

  .contact-headline {
    font-size: 46px;
  }

  .contact-section-name {
    font-size: 14px;
    font-family: "SF Mono Regular", Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    color: var(--color-primary);
  }

  #education-content {
    display: block;
    position: relative;
    padding-top: 0;
  }

  #eduList {
    display: flex;
    position: relative;
    align-items: end;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  #eduList li {
    flex-shrink: 0;
    margin-right: 30px;
  }

  #eduList ul li {
    border-bottom: 1px solid red;
  }

  #edu-button-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .edu-button {
    padding: 15px 0px;
  }

  .edu-button-selected {
    color: var(--color-primary);
    border-left: none;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
  }

  #eduDetails {
    width: 100%;
  }

  .eduTitle {
    font-size: 20px;
  }

  #edu-bulletpoints {
    width: 100%;
  }

  .project-title {
    font-size: 30px;
  }

  .feature-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .navContainer {
    width: 86vw;
    margin: 0 auto 0 auto;
  }

  .navbar-b .navbar-brand span {
    font-size: 22px;
  }

  #hero-section {
    padding-top: 80px;
  }
  .hero-content h3 {
    font-size: 8px;
  }

  .hero-content h1 {
    font-size: 33px;
  }

  .hero-content h4 {
    font-size: 12px;
  }
  .section-headline {
    font-family: "Calibre Regular", Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 40px;
    font-weight: bold;
  }

  .buttons {
    width: 7.6rem;
    height: 2.8rem;
    background-color: var(--color-second);
    border-radius: 10px;
    font-size: 0.7rem;
  }
}
